---
title: "Cutting-Edge Website Solutions for Forward-Thinking Businesses"
description: "Explore our packages tailored for small and medium businesses and enjoy a website with no upfront costs.
Our comprehensive services include innovative website design, strategic SEO, and more, designed to propel your business
into the future."
permalink: "/services/"
eleventyNavigation:
    key: Services
    order: 2
---
{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/servicesPage.css" />
<link rel="preload" href="/assets/images/services/services-hero.webp" as="image">
<link rel="preload" href="/assets/images/services/services-hero-small.webp" as="image">

{% endblock %} {% block body %}
<section class="ps__heroBanner ps__servicesHero">
    <picture>
        <source media="(min-width: 600px)" srcset="/assets/images/services/services-hero.webp">
        <source srcset="/assets/images/services/services-hero-small.webp">
        <img class="ps__heroBanner--image" src="/assets/images/services/services-hero-small.webp"
            alt="People working together" aria-hidden="true">
    </picture>
    <div class="ps__heroBanner--decorations">
        {% include 'components/rotating-circle.html' %}
        <div class="ps__heroBanner--decorations__right-shape ps__bounceRight" aria-hidden="true">
            <svg class="decoration__shape-1" xmlns="http://www.w3.org/2000/svg" width="409" height="639"
                viewBox="0 0 409 639" fill="none">
                <path d="M600.4 790L0 0H142.2L750.5 790H600.4Z"></path>
            </svg>
            <svg class="decoration__shape-2" xmlns="http://www.w3.org/2000/svg" width="266" height="254"
                viewBox="0 0 266 254" fill="none">
                <path d="M457.7 405H307.8L-0.000152588 0H149.85L457.7 405Z"></path>
            </svg>
        </div>
    </div>
    <div class="ps__heroBanner--xlDecoration">
        <p>Web development &amp; consulting</p>
    </div>
    <div class="ps__heroBanner--info">
        <div class="ps__heroBanner--decorations__circle ps__bounceBottom"></div>
        <h1>{{ services.title }}</h1>
        <div>
            <span class="ps__arrow-up ps__bounceRight"></span>
            <p class="ps__breadcrumbs"><a href="/" aria-label="back to the home page">Home</a> / <span
                    class="ps__breadcrumb--last">Services</span></p>
        </div>
    </div>
    <div class="ps__heroBanner--smDecoration">
        <div class="scroll-downs">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
    </div>
</section>
<section class="ps__servicesPage">

    <div class="row container">
        <div class="col-md-3 col-xs-12 ps__servicesTabs">
            <ul>
                <span>Service List</span>
                {%- for entry in services.detailed -%}
                <li class="ps__tablink" data-id="{{entry.id}}">
                    {{ entry.name }}
                </li>
                {%- endfor -%}
            </ul>
        </div>
        <div class="col-md-9 col-xs-12">
            {%- for entry in services.detailed -%}
            <div id="{{ entry.id }}" class="ps__servicesPage--detailed">
                <div class="ps__servicesPage--content">
                    {%- if entry.subtitle-%}
                    <div class="ps__sectionSmallTitle">
                        <img src="/assets/svgs/sxzar-icon.svg" alt="sxzar icon" width="20" height="20" aria-hidden="true">
                        <p>{{ entry.subtitle }}</p>
                    </div>
                    {%- endif -%}
                    {%- if entry.title -%}
                    <h2>{{ entry.title }}</h2>
                    {%- endif -%}
                    {%- if entry.description -%}
                    {{ entry.description | safe }}
                    {%- endif -%}

                    {%- if entry.list -%}
                    <div class="row ps__package--list">
                        {%- for item in entry.list -%}
                        <div class="col-md-6 col-xs-12">
                            <h4 class="ps__package--list__title">{{ item.title }}</h4>
                            <p class="ps__package--list__description">{{ item.description }}</p>
                        </div>
                        {%- endfor -%}
                    </div>
                    {%- endif -%}

                    {%- if entry.conclusion -%}
                    {{ entry.conclusion | safe }}
                    {%- endif -%}
                </div>
                {%- if entry.packages -%}
                <div class="ps__servicesPage--packagesConainer">
                    {%- for package in entry.packages -%}
                    <div class="ps__servicesPage--package">
                        <div class="ps__servicesPage--package__wrapper">
                            <div class="ps__servicePage--package__border">
                                <div class="ps__package--header">
                                    {%- if package.icon -%}
                                    <img src="{{ package.icon }}" alt="{{ package.name }} icon" width="50" height="50">
                                    {%- endif -%}
                                    <div>
                                        <h3>{{ package.name }}</h3>
                                        {%- if package.timeFrame -%}
                                        <p>{{ package.timeFrame }}</p>
                                        {%- endif -%}
                                    </div>
                                    {%- if package.price -%}
                                    <div>
                                        <p class="ps__package--price">{%- if package.discount -%}<span
                                                class="ps__package--currency">{{ shop.currency_symbol }}</span><s>{{
                                                package.price }}</s><br /> <span class="ps__package--currency">{{
                                                shop.currency_symbol }}</span>{{
                                            package.price - package.discount }} {%- else -%} <br /><span
                                                class="ps__package--currency">{{ shop.currency_symbol }}</span>{{
                                            package.price}} {%- endif -%}
                                        </p>
                                    </div>
                                    {%- endif -%}
                                </div>
                                <div class="ps__package--separator"></div>
                                <div class="ps__package--body">
                                    {%- if package.description -%}
                                    {{ package.description | safe }}
                                    {%- endif -%}

                                    {%- if package.included -%}
                                    <ul>
                                        {%- for item in package.included -%}
                                        <li>
                                            {{ item }}
                                        </li>
                                        {%- endfor -%}
                                    </ul>
                                    {%- endif -%}
                                    {%- if package.price -%}
                                    <div>
                                        <a href="https://calendly.com/sxzar/30min" class="ps__button-5"
                                            aria-label="Schedule a Free Consultation" rel="noopener noreferrer"
                                            target="_blank">
                                            Free consultation
                                        </a>
                                    </div>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                        {%- if package.spots -%}
                        <div class="ps__package--banner {% if package.spots < 1 %}sold-out{% endif %}">
                            <p>{%- if package.spots > 1 -%} {{ package.spots }} Spots Left {%- elseif
                                package.spots < 1 -%} SOLD OUT {%- else -%} {{ package.spots }} Spot Left {%- endif
                                    -%}</p>
                        </div>
                        {%- endif -%}
                    </div>
                    {%- endfor -%}
                </div>
                {%- endif -%}
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>
{% include 'containers/offerSection.html' %}
{% include 'containers/faqSection.html' %}
{% include 'containers/footerCtaSection.html' %}
<script>
    document.querySelectorAll('.ps__tablink').forEach(function (tabLink) {
        tabLink.addEventListener('click', function (event) {
            let id = this.getAttribute('data-id');
            openTab(event, id);
        });
    });

    let openTab = (event, id) => {
        let i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("ps__servicesPage--detailed");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("ps__tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(id).style.display = "block";
        event.currentTarget.className += " active";
    }

    // Set the first tab as active by default
    document.querySelector('.ps__tablink').classList.add('active');
    document.querySelector('.ps__servicesPage--detailed').style.display = "block";

</script>
{% endblock %}