<section class="ps__aboutSection">
	<div class="container">
		<div class="ps__aboutSection--imageContainer">
			<div class="ps__aboutSection--imageContainer-wrapper">
				<div class="ps__aboutSection--imageOneBox">
					<div class="ps__aboutSection--imageOneBox__inner" aria-hidden="true">
						<picture>
							<source srcset="
									/assets/images/index/man-showing-something-laptop-his-coworker.webp
								" type="image/webp" />
							<img src="/assets/images/index/man-showing-something-laptop-his-coworker.webp" alt=""
								height="300" />
						</picture>
					</div>
					<div class="ps__aboutSection--imageOneBox__text">
						<p>
							{{ about.experience | safe }}
						</p>
					</div>
				</div>
				<div class="ps__aboutSection--imageTwoBox">
					<div class="ps__aboutSection--imageTwoBox__inner" aria-hidden="true">
						<picture>
							<source srcset="
									/assets/images/index/businesspeople-meeting-office-working.webp
								" type="image/webp" />
							<img src="/assets/images/index/businesspeople-meeting-office-working.webp" alt=""
								height="300" />
						</picture>
					</div>
				</div>
				<div class="ps__aboutSection--decorationWrap" aria-hidden="true">
					<div class="ps__decoration--shapeBoxOne"></div>
					<div class="ps__decoration--shapeBoxTwo"></div>
					<img src="/assets/images/about-shape-1.png" alt="" class="ps__decoration--shapeOne" />
					<img src="/assets/images/about-shape-2.png" alt="" class="ps__decoration--shapeTwo" />
				</div>
			</div>
		</div>
		<div class="ps__aboutSection--descriptionContainer">
			<div class="ps__sectionSmallTitle">
				<img src="/assets/svgs/sxzar-icon.svg" alt="" width="20" height="20" aria-hidden="true" />
				<p>{{ about.sectionSubtitle | safe }}</p>
			</div>
			<div class="ps__sectionDescription">
				<h2>{{ about.sectionTitle | safe }}</h2>
				<section>
					{% for paragraph in about.sectionDescription %}
					<p>{{ paragraph | safe }}</p>
					{% endfor %}
				</section>
				<div class="ps__abstractDescription">
					<img src="/assets/svgs/abstract-shape-1.svg" alt="" width="80" height="80" aria-hidden="true" />
					<div>
						<h3>{{ about.sectionQuoteTitle | safe }}</h3>
						<p>
							{{ about.sectionQuote | safe }}
						</p>
					</div>
				</div>
				<div class="ps__sectionDescription--signature" aria-hidden="true">
					<picture>
						<source srcset="/assets/images/about-small.webp" type="image/webp" />
						<img class="ps__profilePicture" src="/assets/images/about-small.jpg" alt="" height="100" />
					</picture>
					<picture>
						<source srcset="/assets/images/signature.webp" type="image/webp" />
						<img class="ps__profileSignature" src="/assets/images/signature.png" alt="" height="67" />
					</picture>
					<div class="ps__sectionDescription--signature__border"></div>
					<div class="ps__sectionDescription--signature__border"></div>
					<div class="ps__sectionDescription--signature__border"></div>
					<div class="ps__sectionDescription--signature__border"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	document.getElementById("psExpYears").innerHTML =
		new Date().getFullYear() - 2017;
</script>