<section class="ps__ctaSection1 container">
	<div class="ps__ctaSection1--wrapper">
		<div class="ps__ctaSection1--content">
			<div class="ps__ctaSection1--content-title">
				<h2>{{ ctaSection.title | safe }}</h2>
				<div class="ps__ctaSection1--content-decorations" aria-hidden="true">
					<picture>
						<img src="/assets/images/cta-decoration-1.png" alt="" decoding="async"
							class="ps__decoration1" />
					</picture>
					<picture>
						<img src="/assets/images/cta-decoration-2.png" alt="" decoding="async"
							class="ps__decoration2" />
					</picture>
					<picture>
						<img src="/assets/images/circles-decoration-1.png" alt="" decoding="async"
							class="ps__decoration3" />
					</picture>
					<picture>
						<img src="/assets/images/circles-decoration-2.png" alt="" decoding="async"
							class="ps__decoration4" />
					</picture>
				</div>
			</div>
			<div class="ps__ctaSection1--content-cta">
				<a href="{{ctaSection.ctaUrl}}" class="ps__button-5" aria-label="{{ ctaSection.ariaLabel.cta }}" {% if
					ctaSection.ctaUrl | isExternal %} target="_blank" rel="noopener noreferrer" {% endif %}>
					{{ ctaSection.cta }}
				</a>
			</div>
		</div>
		<div class="ps__ctaSection1--shape-box" aria-hidden="true">
			<svg class="ps__ctaSection1--shape-box-one" xmlns="http://www.w3.org/2000/svg" width="220" height="219"
				viewBox="0 0 220 219" fill="none">
				<path d="M98.5501 91.9998L75.0335 109.136L145.728 218.98L179 219L98.5501 91.9998Z"></path>
				<path d="M164.16 42.9998H109.44L0.000289917 187H53.2803L164.16 42.9998Z"></path>
				<path d="M179.69 -0.000244141L13.2502 219H52.6702L221.3 -0.000244141H179.69Z"></path>
			</svg>
			<svg class="ps__ctaSection1--shape-box-two" xmlns="http://www.w3.org/2000/svg" width="489" height="187"
				viewBox="0 0 489 187" fill="none">
				<path d="M217.819 -96.2565L259.636 -150.636L166.952 -296L92.8061 -295.748L217.819 -96.2565Z"></path>
				<path d="M164.679 91.4988H247.174L489 -225.925L405.049 -224.108L164.679 91.4988Z"></path>
				<path d="M91.9444 187L459.611 -295.748H371.225L0 187H91.9444Z"></path>
			</svg>
			<svg class="ps__ctaSection1--shape-box-three" xmlns="http://www.w3.org/2000/svg" width="489" height="219"
				viewBox="0 0 489 219" fill="none">
				<path d="M217.819 199.743L259.636 145.364L166.952 0L92.8061 0.251557L217.819 199.743Z"></path>
				<path d="M164.679 387.499H247.174L489 70.0753L405.049 71.8923L164.679 387.499Z"></path>
				<path d="M91.9444 483L459.611 0.251669H371.225L0 483H91.9444Z"></path>
			</svg>
			<svg class="ps__ctaSection1--shape-box-four" xmlns="http://www.w3.org/2000/svg" width="222" height="219"
				viewBox="0 0 222 219" fill="none">
				<path d="M122.631 126.63L146.102 109.524L75.5552 -0.11417L42 -5.08002e-05L122.631 126.63Z"></path>
				<path d="M57.14 175.676H111.86L221.3 31.6757H168.02L57.14 175.676Z"></path>
				<path d="M41.6101 219L208 0H168L6.10352e-05 219H41.6101Z"></path>
			</svg>
		</div>
	</div>
</section>