<section class="ps__sectionFaq">
    <div class="ps__sectionFaq--container container">
        <div class="row">
            <div class="col-md-6 col-xs-12" aria-hidden="true">
                <div class="ps__sectionFaq__imageWrap">
                    <div class="ps__sectionFaq__imageWrap--inner">
                        <picture>
                            <source srcset="/assets/images/{{ faqSection.image }}.webp" type="image/webp">
                            <img src="/assets/images/{{ faqSection.image }}.jpg" alt="" decoding="async" loading="lazy"
                                width="600" height="300" draggable="false" />
                        </picture>
                    </div>
                    <div class="ps__sectionFaq__imageWrap--decoration" aria-hidden="true">
                        <div></div>
                        <div></div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="586" height="579" viewBox="0 0 586 579"
                            fill="none">
                            <path d="M260.755 239.444L310.815 174.256L199.861 0L111.1 0.301556L260.755 239.444Z"
                                fill="#1D1D1D"></path>
                            <path d="M197.141 464.517H295.896L585.391 84.0033L484.892 86.1815L197.141 464.517Z"
                                fill="#1D1D1D"></path>
                            <path d="M110.068 579L550.209 0.30169H444.4L0 579H110.068Z" fill="#D94645"></path>
                        </svg>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-xs-12">
                <div class="ps__sectionSmallTitle">
                    <img src="/assets/svgs/sxzar-icon.svg" alt="sxzar icon" width="20" height="20" aria-hidden="true" />
                    <p>{{ faqSection.subtitle | safe }}</p>
                </div>
                <h2>{{ faqSection.title | safe }}</h2>
                <p>{{ faqSection.description | safe }}</p>
                <div class="ps__sectionFaq--faqsWrapper">
                    {% for faq in faqSection.faqs %}
                    <section>
                        <div class="ps__sectionFaq--question">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0"
                                viewBox="0 0 48 48" style="enable-background:new 0 0 512 512" xml:space="preserve"
                                class="" aria-hidden="true">
                                <g>
                                    <path
                                        d="M24 8a16 16 0 1 0 16 16A16.021 16.021 0 0 0 24 8zm0 26a2 2 0 1 1 2-2 2.006 2.006 0 0 1-2 2zm2-8.34V27a2 2 0 0 1-4 0v-3a2.006 2.006 0 0 1 2-2 2 2 0 1 0-2-2 2 2 0 0 1-4 0 6 6 0 1 1 8 5.66z"
                                        fill="#1d1d1d" opacity="1" data-original="#000000" class=""></path>
                                </g>
                            </svg>
                            <h2>{{ faq.question | safe}}</h2>
                        </div>

                        <span class="ps__sectionFaq--answer">{{ faq.answer | safe }}</span>
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{% for faq in faqSection.faqs %}
        {
          "@type": "Question",
          "name": "{{ faq.question }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ faq.answer | safe }}"
          }
        }{% if not loop.last %},{% endif %}{% endfor %}
      ]
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const faqs = document.querySelectorAll('.ps__sectionFaq--question');

        // Open the first answer by default
        if (faqs[0]) {
            const firstAnswer = faqs[0].nextElementSibling;
            firstAnswer.style.height = firstAnswer.scrollHeight + 16 + "px";
            faqs[0].classList.add('active');
        }


        faqs.forEach(faq => {
            faq.addEventListener('click', function () {
                // Close all answers
                faqs.forEach(otherFaq => {
                    if (otherFaq !== faq) {
                        otherFaq.classList.remove('active');
                        const otherAnswer = otherFaq.nextElementSibling;
                        otherAnswer.style.height = null;
                    }
                });

                // Open the clicked answer
                faq.classList.add('active');
                const answer = faq.nextElementSibling;
                answer.style.height = answer.scrollHeight + "px";
            });
        });
    });
</script>