<!-- Features -->
<section class="ps__featuresSection">
	<h2>{{features.title | safe }}</h2>
	<h3>{{features.description | safe }}</h3>
	<div class="ps__featuresSection--container">
		{% for feature in features.data %}
		<div class="ps__featuresSection--feature reveal">
			<div class="ps__featureSection--feature-image" aria-hidden="true">
				<img src="/assets/svgs/{{feature.image}}.svg" alt="" />
			</div>
			<h3>{{ feature.title | safe }}</h3>
			<p>{{ feature.description | safe }}</p>
		</div>
		{% endfor %}
	</div>
</section>