<section class="ps__footerCtaSection">
    <div class="container row">
        <div class="col-md-2"></div>
        <div class="col-md-6 col-xs-12">
            <h2>{{ ctaSection.footerTitle | safe }}</h2>
        </div>
        <div class="col-md-4 col-xs-12 ">
            <a href="{{ ctaSection.ctaUrl }}" class="ps__button-5" aria-label="ctaSection.ariaLabel.cta" {% if
                ctaSection.ctaUrl | isExternal %} target="_blank" rel="noopener noreferrer" {% endif %}>
                {{ ctaSection.cta | safe }}
            </a>
        </div>
    </div>
    <div class="ps__footerCtaSection__decorations-wrapper" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="747" height="255" viewBox="0 0 747 255" fill="none">
            <path d="M393.616 160.808L325.826 72.6515L476.077 -163L596.277 -162.592L393.616 160.808Z" fill="white"
                fill-opacity="0.1"></path>
            <path d="M479.762 465.181H346.029L-46 -49.3997L90.0943 -46.454L479.762 465.181Z" fill="white"
                fill-opacity="0.1"></path>
            <path d="M597.674 620L1.64221 -162.592H144.928L746.726 620H597.674Z" fill="#282828"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="273" height="255" viewBox="0 0 273 255" fill="none">
            <path d="M439.616 -15.8078L371.826 72.3485L522.077 308L642.277 307.592L439.616 -15.8078Z" fill="white"
                fill-opacity="0.1"></path>
            <path d="M525.762 -320.181H392.029L6.10352e-05 194.4L136.094 191.454L525.762 -320.181Z" fill="white"
                fill-opacity="0.1"></path>
            <path d="M643.674 -475L47.6423 307.592H190.928L792.726 -475H643.674Z" fill="#282828"></path>
        </svg>
    </div>
</section>