<section class="ps__guaranteeSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="ps__sectionFaq__imageWrap" aria-hidden="true">
                    <div class="ps__sectionFaq__imageWrap--inner">
                        <picture>
                            <source srcset="/assets/images/{{ guarantee.image }}.webp" type="image/webp">
                            <img src="/assets/images/{{ guarantee.image }}.jpg" alt="" decoding="async" loading="lazy"
                                width="600" height="300" draggable="false" />
                        </picture>
                    </div>
                    <div class="ps__sectionFaq__imageWrap--decoration">
                        <div></div>
                        <div></div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="586" height="579" viewBox="0 0 586 579"
                            fill="none">
                            <path d="M260.755 239.444L310.815 174.256L199.861 0L111.1 0.301556L260.755 239.444Z"
                                fill="#1D1D1D"></path>
                            <path d="M197.141 464.517H295.896L585.391 84.0033L484.892 86.1815L197.141 464.517Z"
                                fill="#1D1D1D"></path>
                            <path d="M110.068 579L550.209 0.30169H444.4L0 579H110.068Z" fill="#D94645"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="ps__sectionSmallTitle">
                    <img src="/assets/svgs/sxzar-icon.svg" alt="sxzar icon" width="20" height="20" aria-hidden="true">
                    <p>{{ guarantee.subtitle | safe }}</p>
                </div>
                <h2>{{ guarantee.title | safe }}</h2>
                <div class="ps__guaranteeSection--description">
                    {{ guarantee.description | safe }}
                </div>
            </div>
        </div>
    </div>
</section>