<section class="ps__heroBanner">
	<picture aria-hidden="true">
		<source media="(min-width: 600px)" srcset="/assets/images/index/people-working-together.webp">
		<source srcset="/assets/images/index/people-working-together-small.webp">
		<img class="ps__heroBanner--image" src="/assets/images/index/people-working-together-small.webp" alt="">
	</picture>
	<div class="ps__heroBanner--decorations">
		{% include 'components/rotating-circle.html' %}
		<div class="ps__heroBanner--decorations__right-shape ps__bounceRight" aria-hidden="true">
			<svg class="decoration__shape-1" xmlns="http://www.w3.org/2000/svg" width="409" height="639"
				viewBox="0 0 409 639" fill="none">
				<path d="M600.4 790L0 0H142.2L750.5 790H600.4Z"></path>
			</svg>
			<svg class="decoration__shape-2" xmlns="http://www.w3.org/2000/svg" width="266" height="254"
				viewBox="0 0 266 254" fill="none">
				<path d="M457.7 405H307.8L-0.000152588 0H149.85L457.7 405Z"></path>
			</svg>
		</div>
	</div>
	<div class="ps__heroBanner--xlDecoration">
		<p>{{ hero.sideBanner | safe }}</p>
	</div>
	<div class="ps__heroBanner--info">
		<div class="ps__heroBanner--decorations__circle ps__bounceBottom"></div>
		<h1>{{ hero.title | safe }}</h1>
		<div>
			<span class="ps__arrow-up ps__bounceRight"></span>
			<h2>{{ hero.subtitle | safe }}</h2>
		</div>
		<div class="ps__heroBanner--cta">
			<a href="{{hero.ctaUrl}}" class="ps__button-5" aria-label="{{ hero.ariaLabel.cta }}" {% if hero.ctaUrl |
				isExternal %} target="_blank" rel="noopener noreferrer" {% endif %}>
				{{ hero.cta }}
			</a>
		</div>
	</div>
	<div class="ps__heroBanner--smDecoration" aria-hidden="true">
		<div class="scroll-downs">
			<div class="mousey">
				<div class="scroller"></div>
			</div>
		</div>
	</div>
</section>