<section class="ps__latestBlogsSection">
    <div class="container">
        <div class="ps__sectionSmallTitle">
            <img src="/assets/svgs/sxzar-icon.svg" alt="sxzar icon" width="20" height="20" aria-hidden="true" />
            <p>Recent Highlights</p>
        </div>
        <h2 class="ps__latestBlogsSection--title">Latest News &amp; Blogs</h2>
        <div class="ps__latestBlogsSection--container row">
            {% if collections.resources | length == 0 %}
            <p>No recent posts</p>
            {% else %}
            {% for post in collections.resources | reverse %}
            {% if loop.index <= 3 %} <article class="ps__latestBlogsSection--article col-md-4 col-xs-12">
                <a href="{{ post.url }}" aria-label="read more about {{ post.data.title }}">
                    <div class="ps__latestBlogsSection--article__content">
                        <picture class="ps__latestBlogsSection--article__mainImage">
                            <img src="{{ post.data.thumbnail }}" alt="" width="400" height="300" decoding="async"
                                aria-hidden="true" />
                        </picture>
                        <div>
                            <span>{{ post.data.date | postDate }}</span>
                            <h3 class="ps__latestBlogsSection--article__content__title">
                                {{ post.data.title }}
                            </h3>
                        </div>
                    </div>
                </a>
                </article>
                {% endif%}
                {% endfor %}
                {% endif %}

        </div>
        <div class="text-center">
            <a href="/resources/1/" class="ps__button-5" aria-label="check out all our blog posts">
                See All Blogs
            </a>
        </div>
    </div>
</section>