<section class="ps__perksSection container">
	<img src="/assets/images/custom-shape-1.png" alt="" class="custom-shape-1" aria-hidden="true" />
	<h2>{{ features.title }}</h2>
	<p>{{ features.description }}</p>
	<div class="ps__perksSection--container">
		{% for perk in features.data %} {% set image = perk.image %} {% set
		title = perk.title %} {% set description = perk.description %} {% set
		url = perk.location %} {% include "components/text-card.html" %} {%
		endfor %}
	</div>
	{% include 'components/rotating-circle.html' %}
	<p class="ps__perksSection--bottomDescription">
		<strong>First-Class</strong> Web Development Consultant Providing
		Innovative Business <strong>Solutions</strong> and Support
	</p>
</section>