<script type="application/ld+json">
	{
		"@context": "http://schema.org",
	"@type": "Product",
	"name": "Sxzar's Reviews",
	"aggregateRating": {
		"@type": "AggregateRating",
		"ratingValue": "5",
		"reviewCount": "{{ reviews.data | length }}"
	},
	"review" : [
		{% for review in reviews.data %}
		{
			"@type": "Review",
			"reviewRating": {
				"@type": "Rating",
				"ratingValue": "{{ review.rating }}",
				"bestRating": "5"
			},
			"author": {
				"@type": "Person",
				"name": "{{ review.author }}"
			},
			"datePublished": "{{ review.date }}",
			"reviewBody": "{{ review.description }}"
		}{% if not loop.last %},{% endif %}{% endfor %}
	]
	}
</script>

<section class="ps__reviews">
	<h2>{{ reviews.title }}</h2>
	<h3>{{ reviews.description }}</h3>
	<div class="ps__reviews--container ps__infiniteScroll--left">
		{% for review in reviews.data %} {% include 'components/review.html' %}
		{% endfor %}
	</div>
</section>
