<section class="ps__calendar">
	<div class="ps__calendar--info reveal">
		<h2>{{ schedule.title }}</h2>
		<p>{{ schedule.description[0] }}</p>
		<h3>{{ schedule.description[1] }}</h3>
		<ul>
			{% for item in schedule.points %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
		<p>
			To schedule a consultation, please fill out the form below or get in
			touch with us directly via
			<a href="mailto:contact.sxzar@gmail.com">email</a>. We'll get back
			to you promptly to arrange a suitable time for our discussion. Your
			success is important to us, and we're excited to be a part of your
			journey.
		</p>
	</div>
	<div class="ps__calendar--form">
		{% include 'components/calendly.html' %}
	</div>
</section>
