@import './styles';

.ps__aboutSection {
    background-color: $accent5;
    margin-top: -120px;
    padding-top: 180px;
    @include max-width(large) {
        padding-bottom: 200px;
    }
    & > .container {
        display: flex;
        flex-direction: column-reverse;
        @include min-width(large) {
            flex-direction: row;
        }
        margin-bottom: 2rem;
    }
    .ps__aboutSection--imageContainer,
    .ps__aboutSection--descriptionContainer {
        flex: 1;
    }
    .ps__aboutSection--descriptionContainer {
        padding: 0 1rem;
        @include min-width(large) {
            padding-left: 2rem;
        }
        
        .ps__sectionDescription {
            h2 {
                padding: 0.5rem 0;
            }
            section {
                padding: 0;
                color: #a0a1a6;
                p {
                    padding: 0.5rem 0;
                    line-height: 180%;
                }
            }
            .ps__abstractDescription {
                display: flex;
                align-items: center;
                padding: 1rem 0;
                img {
                    margin-right: 1.5rem;
                }
                & > div {
                    p {
                        padding-top: 0.5rem;
                        color: #a0a1a6;
                        line-height: 180%;
                    }
                }
            }
            .ps__sectionDescription--signature {
                display: flex;
                align-items: center;
                border: 1px solid $primary;
                width: fit-content;
                padding: 5px 2rem;
                position: relative;
                font-size: 0px;
                .ps__profilePicture {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    border-radius: 50px;
                    margin-right: 0.2rem;
                }
                .ps__sectionDescription--signature__border {
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border: 1px solid $primary;
                    background-color: #ffffff;
                    &:nth-child(3) {
                        bottom: -3px;
                        left: -3px;
                    }
                    &:nth-child(4) {
                        top: -3px;
                        right: -3px;
                    }
                    &:nth-child(5) {
                        top: -3px;
                        left: -3px;
                    }
                    &:last-child {
                        bottom: -3px;
                        right: -3px;
                    }
                }
                @include max-width(medium) {
                    margin: 0 auto;
                    .ps__profilePicture {
                        width: 50px;
                        height: 50px;
                    }
                    .ps__profileSignature {
                        width: 170px;
                        height: 67px;
                    }
                }
            }
        }
    }
    .ps__aboutSection--imageContainer {
        @include min-width(large) {
            padding-right: 2rem;
        }
        .ps__aboutSection--imageContainer-wrapper {
            position: relative;
            z-index: 11;
            @include max-width(large) {
                margin: 5rem 0 0 0;
                padding: 1.5rem;
            }
            .ps__aboutSection--imageOneBox {
                position: relative;
                z-index: 11;
                &::before {
                    content: '';
                    width: 80%;
                    height: calc(100% - 155px);
                    position: absolute;
                    top: -50px;
                    left: 100px;
                    background-color: rgba($secondary, 0.05);
                    z-index: 1;
                    animation: bounceTopSkew 3s infinite alternate;
                    transform: skewX(20deg);
                    @include max-width(small) {
                        height: 100%;
                        left: 40px;
                    }
                }
                &::after {
                    content: '';
                    width: 70%;
                    height: calc(100% - 45px);
                    position: absolute;
                    top: 20px;
                    left: 92px;
                    border: 1px solid #1d1d1d;
                    z-index: 1;
                    transform: skewX(20deg);
                    @include max-width(xlarge) {
                        left: 110px;
                    }
                    @include max-width(medium) {
                        left: 75px;
                    }
                    @include max-width(small) {
                        left: 50px;
                    }
                }
                .ps__aboutSection--imageOneBox__inner {
                    position: relative;
                    z-index: 1;
                    clip-path: polygon(27% 0, 100% 0%, 73% 100%, 0% 100%);
                    background-color: $primary;
                    background-blend-mode: luminosity;
                    font-size: 0;
                    img {
                        mix-blend-mode: luminosity;
                        max-width: 100%;
                        height: auto;
                    }
                }
                .ps__aboutSection--imageOneBox__text {
                    padding: 10px;
                    width: 130px;
                    height: 135px;
                    background-color: $secondary;
                    position: absolute;
                    top: -20px;
                    right: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: skewX(20deg);
                    z-index: 11;
                    text-align: center;
                    @include max-width(small) {
                        width: 90px;
                        height: 100px;
                        font-size: 12px;
                    }
                    &::before {
                        content: '';
                        width: 8px;
                        height: 20px;
                        position: absolute;
                        top: 0;
                        left: -4px;
                        background-color: $secondary;
                        transform: skew(-20deg);
                        z-index: -1;
                    }
                    p {
                        color: $text-light;
                        font-weight: 700;
                        transform: skewX(-20deg);
                    }
                }
            }
            .ps__aboutSection--imageTwoBox {
                width: calc(100% - 35px);
                min-height: 370px;
                position: absolute;
                left: 0;
                bottom: -140px;
                z-index: 11;
                @include max-width(xlarge) {
                    top: 300px;
                }
                @include max-width(medium) {
                    min-height: 300px;
                }
                @include max-width(small) {
                    top: 200px;
                    min-height: 200px;
                }
                .ps__aboutSection--imageTwoBox__inner {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    clip-path: polygon(0 0, 76.5% 0, 100% 100%, 23.5% 100%);
                    background-color: $primary;
                    background-blend-mode: luminosity;
                    z-index: 11;
                    img {
                        mix-blend-mode: luminosity;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &::before {
                    content: '';
                    height: 130px;
                    position: absolute;
                    right: -42px;
                    bottom: -20px;
                    background-color: $secondary;
                    clip-path: polygon(0 0, 91% 0, 100% 100%, 8.5% 100%);
                    z-index: 1;
                    width: calc(100% - 42px);
                    @include max-width(small) {
                        display: none;
                    }
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: $text-light;
                    clip-path: polygon(0 0, 76.5% 0, 100% 100%, 23.5% 100%);
                    z-index: 1;
                }
            }
            .ps__aboutSection--decorationWrap {
                .ps__decoration--shapeBoxOne {
                    position: absolute;
                    top: 80px;
                    left: 5px;
                    width: 32px;
                    height: 20px;
                    background-color: $secondary;
                    clip-path: polygon(0 0, 76.5% 0, 100% 100%, 23.5% 100%);
                    animation: bounce-top 1.5s infinite alternate;
                    z-index: -1;
                }
                .ps__decoration--shapeBoxTwo {
                    position: absolute;
                    right: 10px;
                    bottom: 120px;
                    width: 32px;
                    height: 20px;
                    background-color: $primary;
                    clip-path: polygon(0 0, 76.5% 0, 100% 100%, 23.5% 100%);
                    animation: bounce-bottom 1.5s infinite alternate;
                    z-index: -1;
                }
                .ps__decoration--shapeOne {
                    left: -40px;
                    bottom: -140px;
                    position: absolute;
                    z-index: -1;
                    animation: swingMove 12s infinite alternate;
                }
                .ps__decoration--shapeTwo {
                    top: -80px;
                    left: 0;
                    width: 70px;
                    position: absolute;
                    z-index: -1;
                    animation: swingMove 12s infinite alternate;
                    @include max-width(large) {
                        top: -30px;
                    }
                }
            }
        }
    }
}
