.ps__ctaSection1 {
	padding-top: 0;
	position: relative;
	.ps__ctaSection1--wrapper {
		margin: 0 1rem;
		position: relative;
		background-color: $primary;
		padding-top: 57px;
		padding-bottom: 46px;
		z-index: 11;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.ps__ctaSection1--content {
		position: relative;
		z-index: 12;
		color: $text-light;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		.ps__ctaSection1--content-title {
			width: 50%;
			position: relative;
			.ps__ctaSection1--content-decorations {
				img {
					position: absolute;
				}
				.ps__decoration1 {
					top: -39px;
					right: 0;
					z-index: -1;
					animation: bounce-top 1s infinite alternate;
				}
				.ps__decoration2 {
					left: 70px;
					bottom: -31px;
					z-index: -1;
					animation: shapeMover2 10s infinite alternate;
				}
				.ps__decoration3 {
					right: 50px;
					bottom: -46px;
				}
				.ps__decoration4 {
					top: -70px;
					left: 130px;
				}
			}
		}
		.ps__ctaSection1--content-cta {
			.ps__button-5 {
				background-color: $accent5;
				color: $primary;
				&:hover {
					color: $text-light;
				}
			}
		}
	}
	.ps__ctaSection1--shape-box {
		.ps__ctaSection1--shape-box-one {
			position: absolute;
			top: 0;
			right: -20px;
			z-index: -1;
			animation: bounce-right 1s infinite alternate;
			path {
				fill: #be403f;
				&:last-child {
					fill: #d94645;
				}
			}
		}
		.ps__ctaSection1--shape-box-two {
			position: absolute;
			top: 0;
			right: 67px;
			z-index: -1;
			path {
				fill: $accent4;
			}
		}
		.ps__ctaSection1--shape-box-three {
			position: absolute;
			top: 0;
			left: 155px;
			z-index: -1;
			path {
				fill: $accent4;
			}
		}
		.ps__ctaSection1--shape-box-four {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			animation: bounce-left 1s infinite alternate;
			path {
				fill: #be403f;
				&:last-child {
					fill: #d94645;
				}
			}
		}
	}
	@include max-width("small") {
		.ps__ctaSection1--content {
			flex-direction: column;
			.ps__ctaSection1--content-title {
				width: 100%;
				padding: 1rem;
				text-align: center;
			}
		}
		.ps__ctaSection1--shape-box {
			.ps__ctaSection1--shape-box-one {
				bottom: 0;
				top: unset;
			}
			.ps__ctaSection1--shape-box-three {
				top: unset;
				bottom: 0;
				z-index: -2;
			}
		}
	}
}
