@import "./styles";

#ps__navigation {
	display: flex;
	align-items: center;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: $primary;
	.ps__navigation-container {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 10px 20px;
		min-height: 100px;
		.ps__logo-container {
			position: relative;
			z-index: 2;
			.ps__logo {
				background: url($logo);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				display: inline-block;
				width: clamp(150px, 8vw, 250px);
				height: 50px;
				margin-right: 0.5rem;
			}
		}
		.ps__nav {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;
			position: sticky;
			@include min-width(large) {
				justify-content: center;
				position: absolute;
				left: 0;
			}
			.ps__nav--toggle {
				background: none;
				border: none;
				display: block;
				@include min-width(large) {
					display: none;
				}
			}
			a {
				font-weight: 700;
				color: $text-light;
				text-decoration: none;
				transition: color 0.3s ease-in-out;
				&:hover {
					color: $secondary;
				}
			}
			.ps__nav--active {
				a {
					font-weight: 700 !important;
					color: $secondary;
					@include min-width(large) {
						padding-bottom: 3px;
						font-weight: normal;
					}
				}
			}
			.ps__nav--body-wrapper {
				position: fixed;
				height: 0;
				overflow: hidden;
				transition: all .3s ease-in-out;
				width: 100%;
				top: 100px;
				left: 0;
				visibility: hidden;
				background-color: #000000cf;
				@include min-width(large) {
					display: flex;
					align-items: center;
					padding: 0 1rem;
					position: unset;
					top: unset;
					height: unset;
					visibility: visible;
					background-color: transparent;
				}
				&.ps__nav--body--active {
					visibility: visible;
					height: 100vh;
					@include min-width(large) {
						height: unset;
					}
				}
				.ps__nav--li-container {
					width: 100%;
					text-align: left;
					padding: 20px;
					background-color: $primary;
					@include min-width(large) {
						text-align: center;
						display: flex;
						align-items: center;
					}
					& > ul {
						width: 100%;
						display: flex;
						flex-direction: column;

						@include min-width(large) {
							position: unset;
							top: unset;
							height: unset;
							flex-direction: row;
							justify-content: center;
						}
						& > li {
							@include min-width(large) {
								display: inline-block;
								padding: 0 0.5rem;
							}
							list-style-type: none;
							padding: 0.5rem 0;
						}
					}
				}
			}

			.ps__nav--li-child {
				visibility: hidden;
				height: 0;
				overflow: hidden;
				transition: all 0.8s ease-in-out;
				@include min-width(large) {
					position: absolute;
				}
				&.ps__nav--li-child--active {
					visibility: visible;
					& ~ .ps__nav--li-main-element {
						background-color: red;
					}
				}
				li {
					font-size: 0.8rem;
					width: 100%;
					@include min-width(large) {
						font-size: 1rem;
						min-width: 100px;
						min-height: 3rem;
						margin-top: 0.8px;
						padding: 0 1rem;
					}
					list-style-type: none;
					padding: 0.5rem 0;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid rgba($text-light, 0.1);
					@include min-width(large) {
						border-bottom: none !important;
						text-align: left;
					}
					a {
						@include min-width(large) {
							width: fit-content;
							height: fit-content;
						}
					}
				}
			}
			.ps__nav--li-main {
				a {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					svg {
						width: 1rem;
						height: 1rem;
						padding-left: 0.2rem;
						g {
							path {
								fill: $text-light;
							}
						}
					}
				}
			}
		}
	}
}

.ps__button-2 {
	background-color: $secondary;
	color: $primary;

	line-height: clamp(2.8rem, 6vw, 3.5rem);
	font-size: 1rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0 clamp(1.5rem, 3vw, 2rem);
	display: inline-block;
	border-radius: 0.5rem;
	position: relative;
	z-index: 1;
	&::after {
		background-color: $accent3;

		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
		border-radius: 0.5rem;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	&:hover {
		color: $accent1;

		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:after {
			width: 100%;
		}
	}
}
.ps__switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-top: 2rem;
	@include min-width(large) {
		margin-top: 0;
	}
	input {
		opacity: 0;
		width: 0;
		height: 0;
		&:checked + .ps__switch-slider {
			background-color: #001425;
			&::before {
				background-image: url(/assets/svgs/dark.svg);
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
		}
	}
	.ps__switch-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ebf6fb;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		&::before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background: url(/assets/svgs/light.svg);
			background-size: 26px 26px;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}
	}
	.ps__switch--round {
		border-radius: 34px;
		&::before {
			border-radius: 50%;
		}
	}
}

.ps__nav--box {
	width: 40px;
	height: 30px;
	position: relative;
	margin: 0 auto;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
	span {
		background-color: $text-light;
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2),
		&:nth-child(3) {
			top: 12px;
		}
		&:nth-child(4) {
			top: 24px;
		}
	}
}

.ps__nav--box--active {
	span {
		&:nth-child(1) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
		&:nth-child(2) {
			transform: rotate(45deg);
		}
		&:nth-child(3) {
			transform: rotate(-45deg);
		}
		&:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}
}
