.ps__latestBlogsSection {
    .ps__sectionSmallTitle {
        margin-top: 1rem;
        justify-content: center;
    }
    h2 {
        padding: 0.5rem 0;
        text-transform: capitalize;
        text-align: center;
    }
    .ps__latestBlogsSection--container {
        margin: 1rem 0;
        justify-content: space-evenly;
        & > article {
            transition: all 0.3s ease-in-out;
            max-width: 400px;
            width: 100%;
            .ps__latestBlogsSection--article__content {
                padding: 1rem;
                img {
                    height: 250px;
                    object-fit: cover;
                    width: 100%;
                    filter: grayscale(100%);
                    transition: all 0.3s ease-in-out;
                }
                span {
                    color: $accent2;
                }
                h3 {
                    padding: 0.5rem 0;
                    color: $primary;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.5; // Adjust this value as needed
                }
            }
            &:hover {
                scale: 1.05;
                .ps__latestBlogsSection--article__content {
                    img {
                        filter: grayscale(0);
                    }
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
}
