@import "./textCard";

.ps__perksSection {
	position: relative;
	overflow: hidden;
	& > h2 {
		text-align: center;
	}
	& > p {
		text-align: center;
		padding: 1rem;
		max-width: 100%;
		margin: 0 auto;
		line-height: 1.875;
		@include min-width(large) {
			max-width: 60%;
		}
	}
	.ps__perksSection--container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.ps__rotatingCircle--wrapper {
		position: absolute;
		right: 0;
		top: 50%;
		z-index: -1;
		@media screen and (max-width: 1410px) {
			display: none;
		}
	}
	.custom-shape-1 {
		position: absolute;
		top: 48px;
		left: 85px;
		animation: shapeMover 20s linear infinite alternate;
		width: 90px;
		@include min-width(4k) {
			width: 150px;
		}
	}
	.ps__perksSection--bottomDescription {
		color: $accent2;
		strong {
			color: $primary;
		}
	}
}
