$primary: #1d1d1d;
$secondary: #d94645;
$accent1: #282828;
$accent2: #a0a1a6;
$accent3: #ffffff1a;
$accent4: #ffffff0d;
$accent5: #f6f6f6;
$text-light: #ffffff;
$text-dark: #1d1d1d;
$logo: "/assets/svgs/logo-white.svg";

//Define fonts:
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

$primary-font: "Epilogue",
sans-serif;
$secondary-font: "Sora",
sans-serif;

// Define breakpoints variables:
$breakpoint-xsmall: 320px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;
$breakpoint-4k: 2000px;

// Define brakepoints mixins:
@mixin min-width($breakpoint) {
    @if ($breakpoint==xsmall) {
        @media (min-width: $breakpoint-xsmall) {
            @content;
        }
    }

    @else if ($breakpoint==small) {
        @media (min-width: $breakpoint-small) {
            @content;
        }
    }

    @else if ($breakpoint==medium) {
        @media (min-width: $breakpoint-medium) {
            @content;
        }
    }

    @else if ($breakpoint==large) {
        @media (min-width: $breakpoint-large) {
            @content;
        }
    }

    @else if ($breakpoint==xlarge) {
        @media (min-width: $breakpoint-extra-large) {
            @content;
        }
    }

    @else if ($breakpoint==4k) {
        @media (min-width: $breakpoint-4k) {
            @content;
        }
    }

    @else {
        @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
    }
}

@mixin max-width($breakpoint) {
    @if ($breakpoint==xsmall) {
        @media (max-width: $breakpoint-xsmall) {
            @content;
        }
    }

    @else if ($breakpoint==small) {
        @media (max-width: $breakpoint-small) {
            @content;
        }
    }

    @else if ($breakpoint==medium) {
        @media (max-width: $breakpoint-medium) {
            @content;
        }
    }

    @else if ($breakpoint==large) {
        @media (max-width: $breakpoint-large) {
            @content;
        }
    }

    @else if ($breakpoint==xlarge) {
        @media (max-width: $breakpoint-extra-large) {
            @content;
        }
    }

    @else if ($breakpoint==4k) {
        @media (max-width: $breakpoint-4k) {
            @content;
        }
    }

    @else {
        @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
    }
}