.ps__sectionLogos--container {
    overflow: hidden;
    position: relative;
}

.carousel {
    opacity: 0.5;
    display: flex;
    left: -50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(50%);

    &.is-reversing {
        transform: translateX(-50%);
    }

    &.is-set {
        transform: none;
        transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    @media (min-width: 30em) {
        left: -50%;
        transform: translateX(50%);

        &.is-reversing {
            transform: translateX(-50%);
        }
    }

    @media (min-width: 40em) {
        left: -20%;
        transform: translateX(20%);

        &.is-reversing {
            transform: translateX(-20%);
        }
    }
}

.ps__sectionLogos {
    .ps__sectionLogos--container {
        overflow: hidden;
        position: relative;

        .carousel {
            display: flex;
            left: -50%;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            transform: translateX(50%);

            &.is-reversing {
                transform: translateX(-50%);
            }

            &.is-set {
                transform: none;
                transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .carousel-seat {
                flex: 1 0 50%;
                order: 2;
                padding: 1rem;
                text-align: center;

                img {
                    max-width: 150px;
                    height: 100%;
                    max-height: 50px;
                    object-fit: contain;
                    filter: grayscale(100%);
                    user-select: none;
                }

                &.is-ref {
                    order: 1;
                }
            }
        }

        @include min-width(small) {
            .carousel {
                left: -50%;
                transform: translateX(50%);

                &.is-reversing {
                    transform: translateX(-50%);
                }

                .carousel-seat {
                    flex-basis: 50%;
                }
            }
        }

        @include min-width(medium) {
            .carousel {
                left: -25%;
                transform: translateX(25%);

                &.is-reversing {
                    transform: translateX(-25%);
                }

                .carousel-seat {
                    flex-basis: 25%;
                }
            }
        }

        @include min-width(large) {
            .carousel {
                left: -16.666666%;
                transform: translateX(16.666666%);

                &.is-reversing {
                    transform: translateX(-16.666666%);
                }

                .carousel-seat {
                    flex-basis: 16.666666%;
                }
            }
        }
    }
}