@import './styles';

.ps__videoSection {
    .ps__videoSection--wrapper {
        .ps__videoSection--parallax {
            /* The image used */
            background-image: url('/assets/images/index/top-view-people-working-together-office.webp');

            /* Set a specific height */
            height: 50vh;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-height: 750px;
            cursor: pointer;
            @include min-width(large) {
                min-height: 650px;
            }
            .ps__videoSection--parallax-container {
                position: relative;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.7);
                /* Set a specific height */
                height: 50vh;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                max-height: 750px;
                @include min-width(large) {
                    min-height: 650px;
                }
                span {
                    position: relative;
                    z-index: 2;
                    font-weight: 700;
                    color: #ffffff;
                    opacity: 0.1;
                    font-size: clamp(4rem, -1.714rem + 15.238vw, 12rem);
                    user-select: none;
                    pointer-events: none;
                }
                .ps__videoSection--parallax__decoration {
                    svg {
                        user-select: none;
                        height: auto;
                        width: 35%;
                        &:first-child {
                            position: absolute;
                            top: 0;
                            right: 0;
                            animation: bounce-right 1s infinite alternate;
                            path {
                                fill: $secondary;
                                &:last-child {
                                    fill: $primary;
                                }
                            }
                        }
                        &:last-child {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            animation: bounce-left 1s infinite alternate;
                            path {
                                fill: $primary;
                                &:last-child {
                                    fill: $secondary;
                                }
                            }
                        }
                    }
                }
                .ps__videoSection--parallax__button {
                    width: 80px;
                    height: 80px;
                    background-color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: background-color 0.3s ease-in-out;
                    z-index: 2;
                    .triangle-right {
                        width: 0;
                        height: 0;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 15px solid $secondary;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover {
                        background-color: $primary;
                        .triangle-right {
                            border-left: 15px solid #ffffff;
                        }
                    }
                }
            }
        }
        .ps__videoSection--modal {
            .ps__modal--text-wrapper {
                position: relative;
                overflow: hidden;
                width: 90%;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
