@import './styles';
@import './ctaSection1';
@import './trustedSection';
@import './footerCtaSection';
@import './guarantee';
@import './pageBanner';

.ps__aboutPage--mainContainer {
    @include max-width(medium) {
        & > div {
            &:last-child {
                order: 1;
            }
            &:first-child {
                order: 2;
            }
        }
    }
    .ps__offerSection--imageContainer {
        margin-top: 4rem;
        margin-bottom: 2rem;
        max-width: 520px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        background-blend-mode: luminosity;

        @include max-width(small) {
            max-width: 230px !important;
        }

        @include max-width(xlarge) {
            max-width: 400px;
        }

        @include max-width(large) {
            margin-bottom: 4rem;
            max-width: 300px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .ps__offerSection--imageContainer__icon-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -20px;
            bottom: -20px;
            width: 120px;
            height: 120px;
            background-color: $primary;

            @include max-width(small) {
                width: 60px;
                height: 60px;
            }

            svg {
                width: 65px;
                height: auto;
                animation: bounce-bottom 1s infinite alternate;

                @include max-width(small) {
                    width: 30px;
                }
            }
        }

        .ps__offerSection--imageContainer__border-box {
            &>div {
                width: 100%;
                height: 100%;
                border: 1px solid var(--noile-primary, #1d1d1d);
                position: absolute;
                z-index: -1;

                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        top: $i * 10px;
                        left: -$i * 10px;
                    }
                }

                @for $i from 6 through 10 {
                    &:nth-child(#{$i}) {
                        top: -($i - 5) * 10px;
                        right: -($i - 5) * 10px;
                    }
                }
            }
        }

        .ps__offerSection--imageContainer__shape-box {
            &>div {
                &:nth-child(1) {
                    width: 30px;
                    height: 30px;
                    background-color: $secondary;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

                &:nth-child(2) {
                    width: 20px;
                    height: 20px;
                    background-color: $primary;
                    position: absolute;
                    right: -20px;
                    bottom: -20px;
                    animation: rotate 8s infinite linear;
                }

                &:nth-child(3) {
                    width: 20px;
                    height: 20px;
                    background-color: $primary;
                    position: absolute;
                    right: -40px;
                    bottom: -40px;
                    animation: rotate 8s infinite linear;
                }

                &:nth-child(4) {
                    width: 10px;
                    height: 10px;
                    background-color: $primary;
                    position: absolute;
                    right: -50px;
                    bottom: -50px;
                    animation: rotate 8s infinite linear;
                }

                &:nth-child(5) {
                    width: 30px;
                    height: 30px;
                    background-color: $secondary;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:nth-child(6) {
                    width: 30px;
                    height: 30px;
                    background-color: $primary;
                    position: absolute;
                    top: -50px;
                    left: -30px;
                    animation: rectMove 8s linear 0s infinite;
                }

                &:nth-child(7) {
                    width: 20px;
                    height: 20px;
                    background-color: $secondary;
                    position: absolute;
                    top: -20px;
                    left: -50px;
                    animation: rectMove 8s linear 2s infinite;
                }
            }
        }
    }

    .ps__aboutPage--mainDescription {
        h1 {
            padding: 0.5rem 0;
        }
        p {
            padding: 0.3rem 0;
        }
    }
}

.ps__aboutPage--features {
    background-color: $accent5;
    margin-top: -120px;
    padding-top: 140px;

    .ps__sectionSmallTitle {
        justify-content: center;
    }

    h2 {
        padding: 0.5rem 0 3rem 0;
        text-align: center;
    }

    .ps__aboutPage--features__data {
        padding-top: 3rem;

        h4 {
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;
            &::before {
                content: "";
                display: inline-block;
                width: 2rem;
                height: 2rem;
                background: url(/assets/svgs/checkmark.svg) no-repeat center center;
                background-size: contain;
                padding-right: 0.5rem;
            }
        }
    }
}


p {
    color: #a0a1a6;
    b {
        color: $primary;
    }
}