@import './styles';
@import './pageBanner';
@import './footerCtaSection';
@import './faqSection';
@import './contactForm';

.ps__contactPage {
    p {
        color: #a0a1a6;
        padding: 0.5rem 0;
        b {
            color: $primary;
        }
        a {
            color: $primary;
            text-decoration: underline;
        }
    }
    .row {
        align-items: center;
        & > div {
            padding: 1rem;
        }
    }
    .ps__contactPage--wrapper {
        h2 {
            padding: 0.5rem 0;
        }
    }
}